html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  /* overflow: hidden; */
  background: rgb(138, 161, 205);
  background: linear-gradient(
    90deg,
    rgba(138, 161, 205, 1) 0%,
    rgba(53, 148, 194, 1) 60%,
    rgba(131, 188, 204, 1) 100%
  );
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.logo {
  width: 400px;
}
.container {
  width: 100%;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  height: 90vh;
}

.title {
  font-size: 1.8rem;
  padding: 0.8rem 0;
  font-weight: 600;
  text-align: center;
  color: #fffffe;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.hasil {
  display: flex;
  align-items: start;
  gap: 2rem;
}

.qr img {
  width: 450px;
}
.data {
  color: #fff;
  font-size: 1.45rem;
  font-weight: 200;
}

.type-data {
  padding-right: 4rem;
}

.local-data {
  padding-left: 4rem;
  font-weight: 550;
}

.desc {
  color: white;
  font-size: 1.45rem;
  padding: 1rem 0;
}

.btn {
  display: inline-block;
  margin: 2rem 0;
  padding: 12px 20px;
  background-color: #4396aa;
  color: white;
  text-align: center;
  width: 100%;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2px;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.btn-green {
  margin: 1rem 0;
  background-color: #218839;
}

.wrapper {
  width: 90%;
}

.text-mobile {
  display: none;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    width: 100vh;
    display: flex;
    justify-content: center;
    background: rgb(138, 161, 205);
    background: linear-gradient(
      90deg,
      rgba(138, 161, 205, 1) 0%,
      rgba(53, 148, 194, 1) 60%,
      rgba(131, 188, 204, 1) 100%
    );
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
  }
  .container {
    margin-left: -10px;
    margin-bottom: 12rem;
  }
  .text-mobile {
    display: block;
  }
  a {
    text-decoration: none;
  }
  .logo {
    width: 300px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 3rem;
    height: 90vh;
  }
  .text-dekstop {
    display: none;
  }
  .title {
    font-size: 1.1rem;
    padding: 0.8rem 0;
    font-weight: 600;
    text-align: center;
    color: #fffffe;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
  }

  .hasil {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }

  .qr img {
    width: 300px;
  }
  .data {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 200;
    text-align: left;
  }

  .type-data {
    padding-right: 4rem;
  }

  .local-data {
    padding-left: 0;
    font-weight: 550;
  }

  .desc {
    color: white;
    font-size: 0.8rem;
    padding: 1rem 0;
  }

  .btn {
    display: inline-block;
    margin: 2rem 0;
    padding: 8px 20px;
    background-color: #4396aa;
    font-size: 10rem;
    color: white;
    text-align: center;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .btn-green {
    margin: -1rem 0 2rem 0;
    background-color: #218839;
    width: 88%;
  }
  .wrapper {
    width: 45vh;
    margin-left: -10px;
    padding-bottom: 1rem;
  }
}
